body{
 background-color: rgb(0, 0, 0);
 font-family: sans-serif;
 margin: 0px;
}

#overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3); /* dark background */
    backdrop-filter: blur(6px);  /* blur the background */
    opacity: 0;
    pointer-events: none; /* prevent blocking clicks when hidden */
    transition: opacity 0.4s ease;
    z-index: 999; /* behind popup, above content */
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

#Form-head{
    text-align: center;
    margin-top: 100px;
    font-family: inherit;
    color: white;
}

#user-form{
    color: white;
    margin: auto;
    padding: 50px;
    width: 500px;
    font-size: 20px;
    
}

p{
    font-size: 20px;
}



input[type="password"],
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(71, 69, 69) !important;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Fix autofill colors */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(71, 69, 69) inset !important;
  -webkit-text-fill-color: white !important;
}

#submit-form{
    background-color: white;
    width: 105%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    transition: transform 0.2s ease;
}

#submit-form:hover{
    transform: scale(1.06);
    background-color: rgb(217, 204, 204);
}


#display-validation {
    width: 300px;
    background-color: rgb(26, 204, 13);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    position: fixed;          /* stick it on screen */
    bottom: -200px;           /* start hidden below */
    right: 100px;
    border-radius: 6px;
    transition: bottom 0.3s ease; 
    border: 2px solid white;
}


#display-validation.display-validation_message_push {
    bottom: 50px; /* move it up into view */
}


table{
    width: 1000px;
    margin: auto;
    border-width: 1px;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid white;
}

.action-column_update , .action-column_delete{
    text-align: center;
}

tr:first-child th:first-child {
    border-top-left-radius: 15px;
}
tr:first-child th:last-child {
    border-top-right-radius: 15px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}


table, td, th{
    color: white;
    text-align: start;
}

th, td{
    padding: 10px;
    border-bottom: 1px solid white;
}

th{
    background-color: rgb(23, 23, 23);
}



#add-user{
    width: 100px;
    margin-left: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(10, 203, 26);
    border: 1px solid white;
    color: white;
    transition: transform 0.2s ease;
}


#add-user:hover{
    transform: scale(1.06);
    background-color: rgb(6, 138, 17);
}
        

.update-user , .delete-user{
    border-radius: 20px;
    height: 30px;
    width: 70px;
    background-color: rgb(77, 96, 242);
    border: 1px solid white;
    transition: transform 0.2s ease;
    
}

.update-user:hover{
    transform: scale(1.06);
    background-color:  rgb(51, 65, 170);
}

.delete-user{
    background-color: rgb(242, 77, 77);
}

.delete-user:hover{
    transform: scale(1.06);
    background-color: rgb(170, 51, 51);
}




h2 { 
   color: white;
   text-align: center;
   font-size: 50px;
   margin-top: 70px;
}

p {
   color: white;
   text-align: center;
}

#back-dashboard, #view-gallery {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    transition: transform 0.2s ease;
    position: fixed;
    top: 10px;
    left: 10px;
}



#back-dashboard:hover, #view-gallery:hover {
    transform: scale(1.05);
    background-color: rgb(217, 204, 204);
}

#form-links {
    text-align: center;
    width: fit-content;
    margin: auto;
}    

#register-link, #login-link {
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

#register-link:hover, #login-link:hover {
    text-decoration: underline;
}

.file-input{
    color: white;
    width: 100%;
    margin-bottom: 10px;
}

.file-input::file-selector-button{
    width: 120px;
    height: 40px;
    background-color: orangered;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 16px;
}

input[type="file"]::file-selector-button:hover{
    background-color: rgb(176, 54, 9);
    cursor: pointer;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
     grid-auto-rows: 200px; 
    gap: 15px; 
    padding: 10px;
    width: 80%;
    margin: auto;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.gallery-item img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* removes default inline gap */
    
}

.gallery-item:hover{
    border: 3px solid #ccc;
}

#upload-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}



#upload-image{
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform ease 0.2s;
}

#upload-image:hover{
    background-color: rgb(217, 204, 204);
    transform: scale(1.1);
    cursor: pointer;
}

#display-welcome{
    position: fixed;          
    top: 60%;                 
    left: 50%;                
    transform: translate(-50%, -50%)scale(0.8);
    z-index: 9999;
    width: 50%;
    height:30%; 
    background-color: rgb(217, 252, 251);
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

#display-welcome_message{
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: sans-serif;
}

#close-welcome-button{
    position: absolute;
    top: 12px;
    right: 15px;
    background-color: rgb(245, 147, 129);
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    border-radius: 7px;
}

#close-welcome-button:hover{
    background-color: rgb(255, 94, 66);
    transform: scale(1.1);
}

#display-welcome.welcome-message_push {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#logout-button{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    transition: transform 0.2s ease;
    position: fixed;
    top: 10px;
    right: 10px;
}


#logout-button:hover{
    transform: scale(1.05);
    background-color: rgb(217, 204, 204);
}


#user-profile {
    background-color: rgb(9, 9, 9);
    max-width: 1000px;
    width: 90%;
    margin: 100px auto;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;     
    align-items: center;
    padding: 60px; 
    color: white;
    box-shadow: 0px 0px 30px 1px white;
}

.text-info {
    text-align: left;
    
}

.image {
    flex-shrink: 0;
    margin-right: 30px;  
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 30px 1px rgb(252, 252, 179);
}

#account-actions {
    background-color: rgb(9, 9, 9);
    max-width: 1000px;
    width: 30%;
    margin: 100px auto;
    border: 1px solid white;
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 30px; 
    color: white;
    box-shadow: 0px 0px 30px 1px white;
}


#logout-account, #delete-account{
    width: 30%;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: rgb(255, 21, 21);
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#delete-account-form{
    width: 100%;
    display: flex;
    justify-content: center;
}

#logout-account:hover, #delete-account:hover{
    transform: scale(1.1);
    background-color: rgb(255, 64, 64);
    border-width: 2px;
}

#upload-profile, #update-profile{
    width: 150px;
    height: 40px;   
    background-color: rgb(251, 251, 251);
    font-family: sans-serif;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    transition: transform 0.2s ease;
}

#upload-profile:hover, #update-profile:hover{
    transform: scale(1.075);
    background-color: rgb(203, 195, 195);
}

#dashboard{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    transition: transform 0.2s ease;
    position: fixed;
    top: 10px;
    right: 10px;
}

#dashboard:hover{
    transform: scale(1.05);
    background-color: rgb(217, 204, 204);
}